<h1>Confirmation Email </h1>

<p>Bienvenue sur DealGames !</p>
<p>
    Cliquez sur le lien pour confimer votre email <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Ce lien exirera dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt sur DealGames
</p>
