{% extends 'base.html.twig' %}

{% block title %}Création Annonce
{% endblock %}

{% block content %}
	<h1>Créer une nouvelle annonce</h1>

	{{ include('ad/_form.html.twig') }}

	<a href="{{ path('app_ad_index') }}">Voir toutes les annonces</a>
{% endblock %}
